body {
    background: linear-gradient(rgba(0, 24, 54, 1),); 
    background: rgb(0, 0, 0);
    font-family: Verdana;
}
h3{
    font-family:"arial";
    margin: 0 0 15px 0;
    padding: 0;
    text-align:center;
    font-size:x-large;
    color:rgb(0, 0, 0);   
}
label {
    color: #000000;
}

.form-container {
    /* text-align: center; */
    padding: 40px;
    background: rgba(255, 255, 255);
    /* background: rgba(76, 175, 80, 0.66); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: black;
    /* backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px); */
    /* border: 1px solid rgba(16, 22, 16, 0.38); */
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px; 
    height: auto; 
}
.form-input:focus{
    outline: none;
}
::placeholder{
    color: white;
}
.form-input {
    margin-top: 5px;
    
    width: 90%;
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom:10px;
    /* border: 1px solid cornsilk; */
    border-radius: 30px;
}
  
.form-submit {
    display: block;
    width: 150px;
    margin: 15px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
}
.form-submit:hover{
    background-color: white;
    color: #007bff;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #007bff;
}


